In [1]:
import pandas as pd
import numpy as np

In [3]:
vocab = pd.read_csv("./vocab_list_conceptnet_5.txt", encoding='utf-8', sep=" ")

In [6]:
walks = np.loadtxt("walks.txt", delimiter=" ")

In [7]:
walks

array([[617686., 617685., 617686., ..., 493795., 120056.,  25445.],
       [453734.,  92031.,  28305., ..., 288183., 596841., 877558.],
       [475739.,  29584., 629610., ..., 754063., 754062., 754063.],
       ...,
       [985530.,  17927., 180949., ..., 456994.,  29584., 301304.],
       [166142., 563159., 166142., ..., 149387.,  52385., 256380.],
       [193801., 112285.,  70651., ...,  67245.,  67223., 152009.]])

In [8]:
vocab

                               word  count  word_id
0                             slang  10156    33899
1                                us   7323   323717
2                          medicine   6959    22535
3                           zoology   6553    29584
4                         chemistry   6236    20892
...                             ...    ...      ...
1167635                 word_cooler      1  1167284
1167636  wound_to_remember_what_not      1  1167328
1167637                writing_case      1  1167377
1167638                      y_mx_b      1  1167478
1167639             zombie_programs      1  1167510

[1167640 rows x 3 columns]

In [17]:
def convert_id_to_word(vocab,index):
    return list(vocab[~(vocab['word_id'] != int(index))]['word'])[0]

In [19]:
converted = []
for walk in walks:
    one_walks = [convert_id_to_word(vocab, one_word) for one_word in walk]
    converted.append(one_walks)

In [24]:
np.savetxt('walks_word.txt', np.array(converted), fmt='%s')

(2014170, 30)

In [18]:
convert_id_to_word(vocab, 1)

'axeblade'

In [25]:
vocab = pd.read_csv("./vocab_list_conceptnet_5_real.txt", encoding='utf-8', sep=" ")

In [43]:
candidates = vocab[~(vocab['count'] > 1)]

In [51]:
candidate_words = candidates['word']
only_word_list = []
print("size : ", candidate_words.size)
for i in range(candidate_words.size):
    words = candidate_words.iloc[i].split("_")
    if len(words) < 2 :
        only_word_list.append(candidates.iloc[i])
    if i % 10000 == 0 : 
        print("now at ", i)

size :  543192
now at  0
now at  10000
now at  20000
now at  30000
now at  40000
now at  50000
now at  60000
now at  70000
now at  80000
now at  90000
now at  100000
now at  110000
now at  120000
now at  130000
now at  140000
now at  150000
now at  160000
now at  170000
now at  180000
now at  190000
now at  200000
now at  210000
now at  220000
now at  230000
now at  240000
now at  250000
now at  260000
now at  270000
now at  280000
now at  290000
now at  300000
now at  310000
now at  320000
now at  330000
now at  340000
now at  350000
now at  360000
now at  370000
now at  380000
now at  390000
now at  400000
now at  410000
now at  420000
now at  430000
now at  440000
now at  450000
now at  460000
now at  470000
now at  480000
now at  490000
now at  500000
now at  510000
now at  520000
now at  530000
now at  540000

In [52]:
len(only_word_list)

330339

In [53]:
np.savetxt('candidate_ota.txt', np.array(only_word_list), fmt='%s', encoding="utf-8")

In [37]:
candidates[(candidates['word'] == "")]

Empty DataFrame
Columns: [word, count, word_id]
Index: []

In [38]:
candidates

                                            word  count  word_id
508209           compare_genderqueer_transsexual      1   795967
508210   compare_transsexual_and_following_sense      1   795968
508211                          compare_transsex      1   795969
508212                              used_loosely      1   795970
508213                       children_to_play_in      1  1029291
...                                          ...    ...      ...
1051396                              word_cooler      1  1051152
1051397               wound_to_remember_what_not      1  1051196
1051398                             writing_case      1  1051245
1051399                                   y_mx_b      1  1051347
1051400                          zombie_programs      1  1051379

[543192 rows x 3 columns]